.text-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 460px;
  height: 74px;
  left: 16px;
  top: 16px;
}

.text-input .input {
  color: #b8bcca;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 460px;
  height: 48px;
  padding: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  position: static;
  background: #f8fafc;
  border: none;
  border-radius: 4px;
  left: 0px;
  top: 26px;
}

.input:focus {
  color: #3b4256;
  border: 1px solid #0048d9;
  padding: 12px;
  width: 460px;
  height: 48px;
  box-sizing: border-box;
}

.text-input label {
  color: #6f7482;
  /* position: static; */
  height: 24px;
  left: 0px;
  top: 0px;
}
