* {
  box-sizing: border-box;
}

.App {
  font-family: "IBM Plex Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  margin: 0 auto;
}

.check-group {
  width: 460px;
  color: #6f7482;
  margin-bottom: 10px;
}
